* {
    box-sizing: border-box;
}

body {
    background-color: hsl(209, 100%, 31%);
    color: hsl(0, 0%, 100%);
    
}

main,
footer {
    position: relative;
    top: 4rem;
}


/* HEADER */

header{
    width: 100%;
    height: 4rem;
    background-color: hsl(47, 100%, 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
}

header img {
    width: 4rem;
    height: 100%;
    border-radius: 200px;
}

header div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center; 
}

header div a {
    height: 100%;
}

h1 {
    margin: unset;
    padding: 0 1rem;
}

nav {
    width: 40%;
}

ul {
    margin: unset;
    padding: unset;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bolder;
    list-style: none;
}

a:link {
    text-decoration: unset;
    color: hsl(0, 0%, 100%);
}

a:visited {
    color: hsl(0, 0%, 100%);
}

a:hover {
    color: hsl(34, 78%, 91%);
}

a:active {
    color: hsl(34, 78%, 85%);
}


nav ul li {
    padding: 1rem;
}

.contact-me {
    background-color: hsl(217, 100%, 21%);
}


/* Banner */


.banner {

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
        ),
        url('Assets/Images/Web Dev.jpg')
    ;

    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Projects */

.list img {
    width: 30rem;
    height: 30rem;
}

#projects {
    text-align: center;
}

.list img:hover {
    border: 4px solid #fdc500;
}

.Language-list {
    display: block;
} 

.Language-list li {
    padding: 0.5rem;
}

summary {
    font-size: 1.5em;
}

.colmar,
.cozy {
    width: 30rem;
}

.description p {
    line-height: 2rem;
}

#project-summary {
    display: none;
}
/* Skills */

i {
    padding: 1.5rem;
}

#skills {
    text-align: center;
}


/* Footer */

footer {
    border-top: 4px solid #fdc500;
    height: 4rem;
    padding-left: 1rem;
    
}

.fa-copyright {
    padding: unset;
}

footer p {
    padding-bottom: 1rem;
}



/* Contact PAGE.html */

.main-contact {
    padding-top: 1rem;
    padding-left: 1rem;
}

.main-contact h2, h1 {
    display: inline;
}